  * {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: rgb(239 246 255);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 32px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
}

input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}  

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color:#475ab3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #475ab3;
}

.error {
  color: red;
  margin: 10px 0;
}

.success {
  color: green;
  margin: 10px 0;
}

.back {
  display: flex;
  margin-top: 15px;
  flex-direction: row-reverse;
}

.link-back {
  text-decoration: none;
  color: #475ab3;
  font-size: 15px;
}


.back a:hover {
  text-decoration: underline;
}
