body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(239 246 255);
}

.header {
    background-color: #28a745;
    color: white;
    padding: 1em;
    text-align: center;
}

.header.incidencia {
  background-color: orange;
}

.container {
    width: 800px;
    background: white;
    border-radius: 8px;
    padding: 2em 2em 0 2em;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.usuario-avatar {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row-reverse;
    /* display: inline-block; */
    cursor: pointer;
    margin: 1rem;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin-left: inherit;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.report-footer {
  text-align: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.report-footer a {
  color: #475ab3;
  cursor: pointer;
  text-decoration: none;
}

.report-footer a:hover {
  text-decoration: underline;
}

.incident-form-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.incident-form-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.incident-form-box h3 {
  margin-top: 0;
}

.incident-form-box textarea {
  width: 97%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.incident-buttons {
  display: flex;
  justify-content: space-between;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.status {
  font-weight: bold;
  color: green;
}

.status.warning {
  color: orange;
}

.status form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #475ab3;
  padding: 0px;
  display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: row;
}

.status form button:hover {
  text-decoration: underline;
}

.restablecer-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
  color: #475ab3;
  background: none;
  border: none;
  cursor: pointer;
}

.icono-btn {
    margin-right: -8px;
    width: 16px;
    height: 18px;
    fill: currentColor;
}

.report-buttons {
    width: auto;
    padding: 8px;
    background-color: #475ab3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}