<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='changePassword.css') }}" />
  <title>Cambiar Contraseña</title>
</head>

<body>
  <div class="container">
    <h2>Restablecer contraseña</h2>

    {% if error %}
    <div class="error">{{ error }}</div>
    {% elif success %}
    <div class="success">{{ success }}</div>
    {% endif %}

    <form action="{{ url_for('change_password') }}" method="POST">
      <input type="text" id="username" name="username" placeholder="Usuario" required
        value="{{ usuario if usuario else '' }}" {% if usuario %}readonly style="background-color: #ccc" {% endif %}>

      <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
        title="La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial.">

      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar nueva contraseña"
        required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
        title="La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial.">

      <button type="submit">Actualizar contraseña</button>
    </form>

    <div class="back">
      <a class="link-back" href="{{ url_for('login') }}">- Volver al login -</a>
    </div>
  </div>
</body>

</html>