<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" type="text/css" href="../static/login.css" />
    <title>Login</title>
</head>

<body>
    <div class="login-wrapper">
        <div class="login-box">
            <div class="login-left">
                <img src="../static/LogoUADE.png" alt="All Time Design Logo" />
                <h3>Login</h3>
                <p>
                    <small>
                        ¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Registrate</a>
                    </small>
                </p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="success">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('status') }}" method="post">
                    <input type="text" name="username" placeholder="Username"
                        class="{% if error_usuario %}input-error{% endif %}" value="{{ username | default('') }}"
                        required />
                    {% if error_usuario %}
                    <div class="error-message">{{ error_usuario }}</div>
                    {% endif %}
                    <input type="password" name="password" placeholder="Password"
                        class="{% if error_contrasena %}input-error{% endif %}" required />
                    {% if error_contrasena %}
                    <div class="error-message">{{ error_contrasena }}</div>
                    {% endif %}
                    <button class="submit">Ingresar</button>
                    <p>
                        <small>
                            <a href="{{ url_for('change_password') }}" class="uade-color">¿Olvidaste la contraseña?</a>
                        </small>
                    </p>
                </form>
            </div>
            <div class="login-right">

            </div>
        </div>
    </div>
</body>

</html>