<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" type="text/css" href="../static/login.css" />
    <title>Login</title>
</head>

<body>
    <div class="login-wrapper">
        <div class="login-box">
            <div class="login-left">
                <img src="../static/LogoUADE.png" alt="All Time Design Logo" />
                <h3>Login</h3>
                <p>
                    <small>
                        ¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Registrate</a>
                    </small>
                </p>
                <form action="{{ url_for('login') }}" method="post">
                    <input for="username" type="username" name="username" placeholder="Username" />
                    <input for="password" type="password" name="password" placeholder="Password" />
                    <button class="submit">Ingresar</button>
                    <p>
                        <small><a href="#!" class="uade-color">¿Olvidaste la contraseña?</a></small>
                    </p>
                </form>
            </div>
            <div class="login-right">

            </div>
        </div>
    </div>
</body>

</html>