<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" type="text/css" href="../static/status.css" />
    <title>Estado del Sistema</title>
</head>

<body>
    <div class="header">
        <h2>✔ Todos los sistemas funcionan correctamente</h2>
    </div>
    <div class="container">
        <h3>Estado actual: UADE</h3>
        <table>
            <tr>
                <td>Operaciones</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>Base de datos</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>Web Campus</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>App Mobile</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>Biblioteca</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>Redes</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>UADE Labs</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>UADE Hub</td>
                <td class="status">Normal</td>
            </tr>
            <tr>
                <td>UADE Investigación</td>
                <td class="status">Normal</td>
            </tr>
        </table>
    </div>
</body>

</html>